<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddPreviousCollectionAsFavorite</key>
	<integer>0</integer>
	<key>ApplicationRunCount</key>
	<integer>1</integer>
	<key>AutoAdjustContrastBrightness</key>
	<false/>
	<key>AutoAdjustExposure</key>
	<true/>
	<key>AutoAdjustHighDynamicRange</key>
	<true/>
	<key>AutoAdjustKeystone</key>
	<false/>
	<key>AutoAdjustLevels</key>
	<true/>
	<key>AutoAdjustMode</key>
	<integer>0</integer>
	<key>AutoAdjustRotation</key>
	<false/>
	<key>AutoAdjustWhiteBalance</key>
	<false/>
	<key>AutoCropPadding</key>
	<integer>0</integer>
	<key>AutoDustRemoval</key>
	<false/>
	<key>AutoShowActivities</key>
	<true/>
	<key>AutostartImporterOnMount</key>
	<true/>
	<key>BackupCatalogAfterTime</key>
	<integer>604800</integer>
	<key>BeforeAfterMode</key>
	<string>Split</string>
	<key>BrowserDefaultCollectionSortAscending</key>
	<true/>
	<key>BrowserDefaultCollectionSortOrder</key>
	<string>date</string>
	<key>BrowserGridViewZoomKey</key>
	<integer>25</integer>
	<key>BrowserListViewZoomKey</key>
	<integer>25</integer>
	<key>CaptureApertureAdjustmentDirectionInverted</key>
	<false/>
	<key>CaptureExtension</key>
	<integer>1</integer>
	<key>CaptureProviders1</key>
	<integer>16377</integer>
	<key>CaptureShutterAdjustmentDirectionInverted</key>
	<false/>
	<key>CompactInspectorToolTabsEnabled</key>
	<false/>
	<key>CoreMLProcessingUnits</key>
	<integer>0</integer>
	<key>CreateAlbumsFromCatalogs</key>
	<integer>0</integer>
	<key>CropAspectRatioBehavior</key>
	<integer>1</integer>
	<key>CropFrameShow</key>
	<integer>1</integer>
	<key>CropHandlesShow</key>
	<integer>1</integer>
	<key>CropLabelsShow</key>
	<integer>0</integer>
	<key>CropMaskBrightness</key>
	<integer>0</integer>
	<key>CropMaskOpacity</key>
	<real>0.5</real>
	<key>CropMaskShow</key>
	<integer>0</integer>
	<key>CullingSortOrder</key>
	<string>date</string>
	<key>CullingViewMode</key>
	<integer>0</integer>
	<key>EnableTimeBasedGrouping</key>
	<false/>
	<key>ExporterShowAdvancedTools</key>
	<false/>
	<key>ExposureWarningsEnabled</key>
	<false/>
	<key>FocusMaskColorString</key>
	<string>{ "name": "green" }</string>
	<key>FocusMaskOpacity</key>
	<real>0.40000000000000002</real>
	<key>FocusMaskShow</key>
	<false/>
	<key>FocusMaskThreshold</key>
	<integer>250</integer>
	<key>GridClockwise</key>
	<false/>
	<key>GridColor</key>
	<string>{ "red": 1, "green": 1, "blue": 1, "alpha": 1 }</string>
	<key>GridFollowCrop</key>
	<true/>
	<key>GridLongEdge</key>
	<integer>3</integer>
	<key>GridMirror</key>
	<false/>
	<key>GridShortEdge</key>
	<integer>3</integer>
	<key>GridShowOption</key>
	<integer>2</integer>
	<key>GridType</key>
	<integer>1</integer>
	<key>HighlightWarningColorString</key>
	<string>{ "name": "red" }</string>
	<key>HighlightWarningLevel</key>
	<integer>250</integer>
	<key>HighlightsClippingThreshold</key>
	<real>0.10000000000000001</real>
	<key>HighlightsTargetLevel</key>
	<integer>255</integer>
	<key>ImporterViewMode</key>
	<integer>0</integer>
	<key>MetadataFiltersExpandedState</key>
	<false/>
	<key>NewRecentCapturesCollectionAfterTime</key>
	<integer>60</integer>
	<key>NewSessionCreatesNewWindow</key>
	<false/>
	<key>OpenSubFoldersWithXM</key>
	<integer>0</integer>
	<key>OptimizeCatalogBeforeBackup</key>
	<true/>
	<key>OverwritingMetadata</key>
	<integer>0</integer>
	<key>PickTargetsEnabled</key>
	<false/>
	<key>ResolutionRulerLengthUnit</key>
	<integer>0</integer>
	<key>ResolutionRulerResolutionUnit</key>
	<integer>0</integer>
	<key>ShadowWarningColorString</key>
	<string>{ "name": "blue" }</string>
	<key>ShadowWarningEnabled</key>
	<false/>
	<key>ShadowWarningLevel</key>
	<integer>0</integer>
	<key>ShadowsClippingThreshold</key>
	<real>0.10000000000000001</real>
	<key>ShadowsTargetLevel</key>
	<integer>0</integer>
	<key>ShowEnhancedTooltips</key>
	<true/>
	<key>ShowInAppNotifications</key>
	<true/>
	<key>ShowResolutionRuler</key>
	<true/>
	<key>Sync.IsDiagnosticsEnabled</key>
	<false/>
	<key>Sync.IsEnabled</key>
	<false/>
	<key>TangentDeviceSupportEnableDefaultsKey</key>
	<true/>
	<key>UseOpenCL3</key>
	<true/>
	<key>UsecoreConfigClassic</key>
	<true/>
	<key>VerifyCatalogBeforeBackup</key>
	<true/>
	<key>VerifyDatabaseOnOpen</key>
	<true/>
	<key>ZoomWithScrollWheel</key>
	<true/>
	<key>annotationBrushSize</key>
	<integer>12</integer>
	<key>annotationCurrentColor</key>
	<integer>2</integer>
	<key>annotationEraserSize</key>
	<integer>12</integer>
	<key>annotationTextFont</key>
	<string>12</string>
	<key>colorWheelLayout</key>
	<integer>0</integer>
	<key>copyAutoSelectsAdjustedSettings</key>
	<integer>2</integer>
	<key>cursorTool</key>
	<integer>1</integer>
	<key>highlightColorCorrections</key>
	<false/>
	<key>includeStylesOnApply</key>
	<true/>
	<key>renderingIntent</key>
	<integer>0</integer>
	<key>showsRepairArrows</key>
	<true/>
</dict>
</plist>
